<section id="cover">
  <div class="h-100 position-relative">
    <div class="container h-100">
      <div class="row h-100">
        <div class="cover-mockup col-lg-7 order-lg-1">
          <div class="macbook">
            <img src="/image/macbook.png" alt="macbook" />
            <div
              style="background: url('/image/<%- page.cover.image %>')"
            ></div>
          </div>
        </div>
        <div class="cover-text col-lg-5">
          <div class="text-center">
            <h1>RAY 5.0</h1>
            <p class="content"><%- page.cover.subtitle %></p>
            <p class="content text-primary"><%- page.cover.description %></p>
            <a class="btn btn-primary px-4 py-2 rounded-pill" href="#result"
              >前往專案成果</a
            >
          </div>
        </div>  
      </div>
    </div>
    <div class="triangle-left position-absolute"></div>
    <div class="triangle-right position-absolute"></div>
  </div>
</section>
