$width-lg: 991.5px;
$width-md: 767.5px;

main[class="home"] {
  h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.4px;
    margin-top: 7.5rem;
    margin-bottom: 5rem;
  }

  section[id="cover"] {
    height: 100vh;

    h1 {
      font-size: 64px;
      font-weight: 900;
      color: #505050;
      letter-spacing: 0.4px;
      margin: 1rem 0;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      @media (max-width: $width-lg) {
        font-size: 36px;
      }
    }

    .content {
      font-weight: bold;
      font-size: 24px;
      color: #505050;
      letter-spacing: 0.38px;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      @media (max-width: $width-lg) {
        font-size: 18px;
      }
    }

    p {
      text-align: unset;
    }

    .triangle-left {
      bottom: 0;
      z-index: -1;
      border-style: solid;
      border-width: 35vh 0 0 55vw;
      border-color: transparent transparent transparent #eb6047;
      opacity: 0.8;
      @media (max-width: $width-lg) {
        border-width: 15vh 0 0 60vw;
      }
    }

    .triangle-right {
      bottom: 0;
      right: 0;
      z-index: -1;
      border-style: solid;
      border-width: 0 0 80vh 90vw;
      border-color: transparent transparent #bc3017 transparent;
      opacity: 0.8;
      @media (max-width: $width-lg) {
        border-width: 0 0 15vh 60vw;
      }
    }

    .cover-mockup {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: $width-lg) {
        align-items: flex-end !important;
      }
    }
    .cover-text {
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: $width-lg) {
        align-items: flex-start !important;
      }
    }
  }

  section[id="origin"] {
    .container {
      > .row {
        margin-bottom: 5rem;

        > div {
          @media (min-width: $width-lg) {
            padding-left: 1.75rem;
            padding-right: 1.75rem;
          }
        }
      }

      h3 {
        font-weight: 900;
        font-size: 3rem;
        line-height: 50px;
        text-align: right;
        letter-spacing: 0.4px;
        margin-bottom: 2rem;
        @media (max-width: $width-lg) {
          text-align: left;
        }
      }

      h4 {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 36px;
        color: #a8a8a8;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1.125rem;
        line-height: 27px;
        text-align: justify;
        margin-bottom: 0;
        @media (max-width: $width-lg) {
          margin-bottom: 2.5rem;
        }
      }

      br {
        display: block;
        margin: 1rem 0;
        content: " ";
      }

      .image-outer {
        max-width: 360px;
        width: 100%;
        .image {
          background-size: cover !important;
          background-position: center !important;
          padding-bottom: 80%;
          width: 100%;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }

  section[id="achievement"] {
    a {
      text-decoration: none;
    }

    .project {
      margin-bottom: 5rem;
      flex-direction: column-reverse;
      @media (max-width: $width-lg) {
        flex-direction: column;
      }
      &:hover {
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
        transform: translateY(-10px);
      }
      .title {
        padding: 1rem 5rem;
        @media (max-width: $width-lg) {
          padding: 1rem;
        }
        h3 {
          font-size: 36px;
          line-height: 50px;
          font-weight: bold;
          display: inline;
          margin-right: 1.5rem;
          @media (max-width: $width-lg) {
            display: block;
          }
        }
        span {
          font-size: 24px;
          font-weight: bold;
          line-height: 140%;
          color: #a8a8a8;
        }
      }
      .content {
        color: white;
        padding: 3.75rem 5rem;
        @media (max-width: $width-lg) {
          padding: 2rem;
        }

        h4 {
          font-size: 20px;
          line-height: 30px;
          font-weight: bold;
          margin-bottom: 1rem;
        }

        p {
          line-height: 32px;
          text-align: justify;
        }

        .mobile-with-bg {
          right: 0;
          width: calc((100% - 10rem) / 2 - 115px + 5rem);
          height: 400px;
          z-index: -1;
          position: absolute;
          background-size: cover !important;
          opacity: 0.7;
          @media (max-width: $width-lg) {
            width: calc((100% - 4rem) - 115px + 2rem);
          }
        }

        .mobile-with-bg-iphone {
          width: 150px;
          margin-top: 50px;
          margin-bottom: 50px;
          margin-left: 30px;
        }
      }
    }
  }

  section[id="experience"] {
    margin-bottom: 7.5rem;
    .exp-card {
      margin-bottom: 3rem;
      @media (min-width: $width-lg) {
        &:nth-child(odd) {
          padding-right: 2.5rem;
        }
        &:nth-child(even) {
          padding-left: 2.5rem;
        }
      }
      .exp-card-text {
        display: flex;
        align-items: center;
        height: 100%;

        .avatar {
          text-align: center;
          margin-right: 1.5rem;
          @media (max-width: $width-md) {
            .circle-avatar {
              width: 80px;
            }
          }
        }
        a {
          text-decoration: none;
          color: inherit;
        }
        .content {
          flex: 0 1 100%;
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
          padding: 3rem 1rem;
          height: 100%;
          @media (max-width: $width-lg) {
            padding: 1rem;
          }
          h3 {
            font-weight: 500;
            font-size: 20px;
            color: #3085bd;
          }
        }
      }
    }
  }
}
