<style>
  .nav-link {
    color: white !important;
  }
</style>
<section id="cover" class="cover-1">
  <div class="cover-bg">
    <div
      class="cover-bg-color"
      style="background: <%- page.cover.background %>"
    ></div>
  </div>
  <div class="container h-100">
    <div class="row h-100 d-flex align-items-center">
      <div class="col-6">
        <img src="/image/<%- page.cover.image %>" class="w-100" />
      </div>
      <div class="col-6 h-100 d-flex align-items-center justify-content-center position-relative">
        <div class="card-text text-center text-white">
          <p class="fw-bold fs-4"><%- page.cover.department %></p>
          <h1 class="fw-bold mt-2"><%- page.cover.title %></h1>
        </div>
        <div class="card-bg"></div>
        <div class="card-bg-border"></div>
      </div>
    </div>
  </div>
</section>
