<% if (typeof page.introduction !="undefined" ) { %>
  <section id="introduction">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h3 class="fs-4">
            <%- page.introduction.subtitle %>
          </h3>
          <p>
            <%- page.introduction.description %>
          </p>
        </div>
        <div class="col-6">
          <div class="members d-flex">
            <% page.introduction.members.forEach(function(value){ %>
              <div class="text-center me-3">
                <div class="circle-avatar mb-2">
                  <div style="background:url('/image/<%- value.image %>')"></div>
                </div>
                <span>
                  <%- value.name %>
                </span>
              </div>
              <% }) %>
          </div>
        </div>
      </div>
      <div>
  </section>
  <% } %>