<% if (typeof page.need != "undefined") { %>
<section>
  <% page.need.items.forEach(function(value){ %>
  <div class="need" style="max-width:1000px">
    <div class=" row my-5 justify-content-center">
      <div class="col-12">
        <h3 class="fs-4 fw-bold"><%- value.title %></h3>
        <span><%- value.content %></span>
      </div>
      <div class="col-12 col-lg-8 col-md-10 my-3">
        <% if (typeof value.image != "undefined"){ %>
        <img src="/image/<%- value.image %>" class="w-100" />
        <% } %>
      </div>
    </div>
  <div>
  <% }) %>
</section>
<% } %>
