<% if (typeof page.picture != "undefined") { %>
<section id="picture">
  <div class="container">
    <div class="row">
      <% page.picture.items.forEach(function(value){ %>
      <div class="col-lg-4 col-6 mb-3">
        <div
          class="image w-100"
          style="background: url('/image/<%- value %>')"
        ></div>
      </div>
      <% }) %>
    </div>
  </div>
</section>
<% } %>
