<section>
  <div class="tobecontinue w-100 p-4 text-center rounded-3">
    <p class="fs-5">
      迭代與易用性測試進行中...<br />網站改造成果預計於 9 月上傳
    </p>
    <i class="fas fa-cogs fa-5x"></i>
  </div>
</section>
