<section>
  <div class="row justify-content-center">
    <% page.wireframe.items.forEach(function(value){ %>
    <div class="col-lg-4 text-center fw-bold px-5">
      <p><%- value.name %></p>
      <div class="macbook">
        <img src="/image/macbook.png" alt="macbook" class="w-100" />
        <div class="screen" style="background: url('/image/<%- value.image %>')"></div>
      </div>
    </div>
    <% }) %>
  </div>
  <div class="row mt-5">
    <h3 class="fs-4 fw-bold my-3"><%- page.wireframe.title %></h3>
    <span><%- page.wireframe.content %></span>
  </div>
</section>
