<div class="container">
  <div class="row justify-content-between">
    <div class="col-lg-9">
      <img src="/images/logo.png" class="mb-4" width="80" height="80" alt="Logo"></img>
      <p>
        PDIS 協助政府部會提升數位服務品質，以服務設計思維優化公務體系的流程和工具，並導引公部門採納社會創新，與民間社群協作，進而促成連結臺灣和世界的生態系。
      </p>
      <p>
        本網站為 PDIS 所設計及維運。除另有標示外，內容以創用 CC BY 4.0 授權條款釋出。
      </p>
    </div>
    <div class="col-lg-2">
      <ul>
        <li>
          <a href="https://ray2017.pdis.nat.gov.tw" target="_blank">網站原始碼</a>
        </li>
        <li>
          <a href="https://ray2017.pdis.nat.gov.tw" target="_blank">教育部青年發展署</a>
        </li>
        <li>
          <a href="https://ray2019.pdis.nat.gov.tw" target="_blank">政府數位服務指引</a>
        </li>
      </ul>
    </div>
  </div>
</div>
