<%
var bg_class = 'navbar-light bg-white';
if (darkmode == true){
  bg_class = 'navbar-dark bg-black';
}
%>
<nav class="navbar navbar-expand-md <%- bg_class %> header" aria-label="Fourth navbar example">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">
      <img src="/images/logo.png" width="50" height="50" alt="PDIS Logo" title="PDIS"></img>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" href="#">計畫緣起</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">專案成果</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">見習心得</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">歷年專案成果</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://ray2017.pdis.nat.gov.tw/">2017年 RAY 1</a></li>
            <li><a class="dropdown-item" href="https://ray2018.pdis.nat.gov.tw/">2018年 RAY 2</a></li>
            <li><a class="dropdown-item" href="https://ray2019.pdis.nat.gov.tw/">2019年 RAY 3</a></li>
            <li><a class="dropdown-item" href="https://ray2020.pdis.nat.gov.tw/">2020年 RAY 4</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>