<div class="d-flex flex-column flex-md-row align-items-center">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <img src="/images/logo.png" width="40" height="40" alt="PDIS Logo" title="PDIS"></img>
  </a>

  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-secondary text-decoration-none" href="#">RAY 5.0 錄取名單</a>
    <a class="me-3 py-2 text-secondary text-decoration-none" href="#">專案介紹</a>
    <a class="me-3 py-2 text-secondary text-decoration-none" href="#">專案時程</a>
    <a class="me-3 py-2 text-secondary text-decoration-none" href="#">學長姐心得</a>
    <a class="py-2 text-secondary text-decoration-none" href="#">專案成果</a>
  </nav>
</div>