<% if (typeof page.need != "undefined") { %>
<section id="define-problem">
  <div class="container">
    <h2 class="fw-bold"><%- __('page.define_problem.title') %></h2>
    <% page.need.items.forEach(function(value){ %>
      <div class="row">
        <div class="col-lg-6">
          <h3 class="fs-4 fw-bold"><%- value.title %></h3>
          <p><%- value.content %></p>
        </div>
        <div class="col-lg-6">
          <% if (typeof value.image != "undefined"){ %>
            <img src="/image/<%- value.image %>" class="shadow w-100" />
          <% } %>
        </div>
      </div>
    <% }) %>
  <div>
</section>
<% } %>
