<% if (typeof page.hifi_prototype != "undefined") { %>
<section id="hifi-prototype">
  <div class="container">
    <h2 class="fw-bold"><%- __('page.hifi_prototype.title') %></h2>
    <% page.hifi_prototype.items.forEach(function(value, index){ %>
    <div class="row">
      <div class="col-55 d-flex align-items-center justify-content-center">
        <%- partial('component/mockup', {mockup: value.mockup}) %>
      </div>
      <div class="col-45">
        <h3 class="fs-4 fw-bold"><%- value.title %></h3>
        <span><%- value.content %></span>
      </div>
    </div>
    <% }) %>
  </div>
</section>
<% } %>
