$primary-color: #eb6047;

main[class="page"] {
  h2 {
    font-size: 2.375em;
    color: #3085bd;
    margin-top: 8.75rem;
    margin-bottom: 3.75rem;
    line-height: 3.125rem;
  }

  section[id="cover"] {
    height: 100vh;
    &[class="cover-1"] {
      .cover-bg {
        z-index: -1;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100vh;

        .cover-bg-color {
          background: $primary-color;
          height: 100%;
          width: 70%;
          float: right;
        }
      }

      .card-text {
        h1 {
          font-weight: bold;
          font-size: 38px;
        }
        p {
          font-weight: bold;
          font-size: 24px;
          margin-bottom: 1rem;
        }
      }

      .card-bg {
        position: absolute;
        background: #87d5d5;
        height: 45%;
        width: 90%;
        border-radius: 50%;
        transform: translate(3%, 4%);
        z-index: -1;
      }

      .card-bg-border {
        position: absolute;
        height: 45%;
        width: 90%;
        border: 5px solid #34abab;
        border-radius: 50%;
        z-index: -1;
      }
    }

    &[class="cover-2"] {
      @media (min-width: 1600px) {
        .container {
          max-width: 1500px;
        }
      }
      .cover-bg {
        z-index: -1;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100vh;

        .cover-bg-color {
          border-bottom: 100vh solid #555;
          border-right: 15vw solid transparent;
          width: 35%;
          height: 0;
          margin-left: 38%;

        }
      }

    }
    &[class="cover-3"] {
      .cover-a-bg {
        z-index: -1;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100vh;

        .right {
          background: #ef895f;
          height: 100%;
          width: 65%;
          float: right;
        }
      }

      .title-card {
        background: white;
        padding: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-radius: 10px;
        position: absolute;
        width: calc(100% + 10px);
        min-height: 20vw;
        .card-text {
          text-align: center;
          h1 {
            font-size: 38px;
          }
        }
      }

      .card-bg {
        position: absolute;
        background: #9d9d9d;
        height: 50px;
        border-style: solid;
        border-radius: 10px;
        width: 100%;
        bottom: -25px;
        z-index: -1;
        right: -20px;
      }
    }
  }

  section[id="introduction"] {
    margin-top: 7.5rem;
  }

  section[id="prestudy"] {
    .carousel-control-next,
    .carousel-control-prev {
      width: 5%;
    }

    .carousel-inner {
      padding-left: 5%;
      padding-right: 5%;
    }

    .carousel-indicators {
      position: unset;
    }
  }

  section[id="define-problem"] {
    .row {
      margin-bottom: 5rem;
      position: relative;
      display: flex;
      align-items: center;
      min-height: 450px;
      div:first-child {
        padding-left: 7rem;
        padding-right: 3rem;

        h3 {
          line-height: 2.5rem;
        }
        span {
          line-height: 2rem;
        }
      }

      img {
        max-width: 480px;
        float: right;
      }
    }

    .circle {
      position: absolute;
      border: 3px solid #dbe9f6;
      width: 55%;
      height: 100%;
      border-radius: 50%;
      z-index: -1;
    }
  }

  section[id="wireframe"] {
    .container {
      .row {
        margin-bottom: 5rem;
      }
    }
    @media (min-width: 768px) {
      .container-fluid {
        max-width: 1600px;
        .row {
          > div {
            padding: 0 1.5rem;
          }
        }
      }
    }
  }

  section[id="divider"] {
    .image {
      margin-top: 8.75rem;
    }
  }

  section[id="hifi-prototype"] {
    .row {
      display: flex;
      align-items: center;
      margin-bottom: 7.5rem;

      .col-55 {
        flex: 0 0 auto;
        width: 55%;
      }

      .col-45 {
        flex: 0 0 auto;
        width: 45%;
      }

      &:nth-child(odd) > div:first-child {
        order: 1;
      }
    }
  }

  section[id="result"] {
    background: #f7f7f7;
    h3 {
      padding-top: 5rem;
      margin-bottom: 5rem;
    }
    .container {
      max-width: 1100px;
    }

    .btn {
      margin-top: 2rem;
      padding: 0.5rem 2rem;
      margin-bottom: 5rem;
    }

    .before {
      color: #3085bd;
      background-color: unset !important;
      border-color: #3085bd !important;
      border-width: medium;
    }

    .after {
      background-color: #3085bd !important;
      border-color: unset !important;
      border-width: medium;
    }
  }

  section[id="report"] {
    .embed {
      padding-bottom: 56.25%;
      position: relative;
      iframe {
        position: absolute;
      }
    }
  }

  section[id="experience"] {
    .exp-card {
      margin-bottom: 3rem;
      .exp-card-text {
        display: flex;
        align-items: center;
        height: 100%;

        .avatar {
          flex-basis: 100px;
          text-align: center;
          margin-right: 2rem;
        }
        a {
          text-decoration: none;
          color: inherit;
        }
        .content {
          flex: 0 1 100%;
          box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
          padding: 3rem 1rem;
          height: 100%;
          h3 {
            font-weight: 500;
            font-size: 20px;
            color: #3085bd;
          }
        }
      }
    }
    @media (min-width: 768px) {
      .exp-card {
        &:nth-child(odd) {
          padding-right: 2.5rem;
        }
        &:nth-child(even) {
          padding-left: 2.5rem;
        }
      }
    }
  }

  section[id="picture"] {
    .image {
      padding-bottom: 56.25%;
      background-size: cover !important;
    }
  }
}
