<section id="cover">
  <div class="h-100 position-relative">
    <div class="container h-100">
      <div class="row h-100">
        <div class="col-5 d-flex align-items-center justify-content-center">
          <div class="text-center">
            <h1>RAY 5.0</h1>
            <p class="content">
              Rescue Action by Youth .gov 2021<br />青年學生體檢政府網站專案
            </p>
            <p class="content text-primary">
              不畏疫情展開線上協作，<br />挑戰在雲端上改造公部門網站的可能！
            </p>
            <a class="btn btn-primary px-4 py-2 rounded-pill" href="#result"
              >前往專案成果</a
            >
          </div>
        </div>
        <div class="col-7 d-flex align-items-center justify-content-center">
          <div class="macbook">
            <img src="/image/macbook.png" alt="macbook" />
            <div
              style="background: url('/image/<%- page.cover.image %>')"
            ></div>
          </div>
        </div>
      </div>
    </div>
    <div class="triangle-left position-absolute"></div>
    <div class="triangle-right position-absolute"></div>
  </div>
</section>
