<style>
  .homepage-cover {
    background: url("/image/<%- page.cover.background %>"),
      linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  }
</style>

<%- partial('_partial/index/cover') %>

<div class="container py-3">
  <div class="homepage-sec">
    <%- partial('_partial/index/origin') %> <%- partial('_partial/index/result')
    %>
  </div>
</div>
