<div class="homepage-cover py-3">
  <div class="container">
    <div class="homepage-sec">
      <%- partial('_partial/index/cover') %>
    </div>
  </div>
</div>
<div class="container py-3">
  <div class="homepage-sec">
    <%- partial('_partial/index/origin') %>
    <%- partial('_partial/index/result') %>
  </div>
</div>